/* .education-container {
Styles will be inherited from About.css 
} */

.education-heading {
text-align: center;
font-size: 1.5rem;
font-weight: 600;
margin-bottom: 2rem;
color: white;
}

.timeline-wrapper {
position: relative;
margin: 1rem 0;
padding-left: 40px; 
}

.timeline-wrapper::before {
content: '';
position: absolute;
top: 0;
left: 20px;
width: 2px;
height: 100%;
background-color: #ddd;
}

.timeline-item {
position: relative;
display: flex;
margin-bottom: 2rem;
}

.timeline-date {
position: relative;
width: 90px;
display: flex;
justify-content: center;
align-items: center;
flex-shrink: 0;
}

.timeline-date::before {
content: '';
position: absolute;
top: 50%;
left: -20px; 
transform: translateY(-50%);
width: 10px;
height: 10px;
background-color: white;
border-radius: 50%;
z-index: 1;
}

.year-pill {
background-color: whitesmoke;
padding: 0.3rem 0.8rem;
border-radius: 20px;
font-size: 0.8rem;
color: black;
white-space: nowrap;
}

.timeline-content {
margin-left: 2rem;
}

.timeline-content h4 {
font-size: 1.2rem;
font-weight: 600;
margin: 0 0 0.25rem;
color: white;
}

.timeline-content p {
font-size: 1rem;
color: white;
margin: 0;
}